<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>347998738440-btf2gghvrrkjp2sjtd77imdg2vm5hs8i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.347998738440-btf2gghvrrkjp2sjtd77imdg2vm5hs8i</string>
	<key>API_KEY</key>
	<string>AIzaSyAIGEJYcIjKSISjSxBNYpN8jg2RbVdI848</string>
	<key>GCM_SENDER_ID</key>
	<string>347998738440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Garpix.ToDobacedOnGuide</string>
	<key>PROJECT_ID</key>
	<string>todobase-d82a7</string>
	<key>STORAGE_BUCKET</key>
	<string>todobase-d82a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:347998738440:ios:5c424c8c92cc280a26d9bd</string>
</dict>
</plist>